{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth</title>
  <link rel="stylesheet" href="{% static 'css/authapp/authorized.css' %}">
  <script src="{% static 'js/authapp/tetris_background.js' %}"></script>
  <script src="{% static 'js/authapp/auth.js' %}" defer></script>
</head>
<body>
<div class="container">
  <div id="login-form">
    <h2>Login</h2>
    <form id="loginForm" method="post" data-url="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Authorized</button>
    </form>
    <p>Don't have an account? <a href="#" id="show-register">Register here</a></p>
  </div>

  <div id="register-form" style="display: none;">
    <h2>Register</h2>
    <form id="registerForm" method="post" data-url="{% url 'register' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" required>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="phone">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" required>
      </div>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="#" id="show-login">Login here</a></p>
  </div>
</div>
</body>
</html>
